@using Microsoft.Extensions.Configuration
@using IOptionDemo.Models
@using Microsoft.Extensions.Options
@inject IOptionsMonitor<MyOption> options
@inject IOptionsSnapshot<MyOption> optionssnap
@inject IConfiguration Configuration
@model HomeControllerOptions
<p>@ViewData["Title"] </p>

<h2>Home controller @ViewData["settings"]</h2>
<p>@Configuration["HomeControllerOptions:Title"]</p>
<p>@Model.Title</p>
<p>@options.CurrentValue.Option1</p>
<p>@optionssnap.Value.Option1</p>
